:root {
    --primary: aquamarine;
    --secondary: red;
}

body {
    margin: 0;
    /* padding: 0;; */
    background-color: var(--primary);
    color: var(--secondary);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgrey 1px dotted;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-link {
    margin: .5rem;
    display: grid;
    place-self: center;
    font-size: 1.5rem;
}
